<h1>GraphQL Config</h1>

This exports Config Objects to GraphQL so that it can be accessed remotely.

<h2>Configuration</h2>

Allowing all config to be exported is extremely dangerous. There is a lot of config items which hold very sensitive data. So be careful in what config items are exported.

<code>
$settings['graphql_config'] = ['system.site'];
</code>

This will expose the <code>system.site</code> config item as an object which can be queried and the items will return structured in the correct format.

<h2>Config schema</h2>

To help with structuring the there have been a few new config schema types that been added.

<ul>
  <li>entity_reference - Adds an entity reference data type to all the connecting of the config to external content. The scheme will also need to specify the <code>target_entity</code> which set which entity type it references.</li>
  <li>entity_reference_file - Add reference to a file which can retrieve the url of this file.</li>
  <li>entity_reference_image - Adds reference to an image which works like an entity image field and allows the returns of a derivative so the image can be styled as needed.</li>
</ul>
